@{
    ViewData["Title"] = "Are you sure?";
}

@model MovieModel

<h2>Are you sure you want to delete @Model.Title's Information?</h2>

<form method="get">
    <button asp-controller="Home" asp-action="ViewMovies" class="btn-outline-primary" type="submit">No, Please don't delete it</button>
</form>


<form method="post" class="table" style="width: 50%">
    
    <br />
    <button asp-controller="Home" asp-action="Delete" asp-route-movieid="@Model.MovieId" type="submit" class="btn-outline-primary">DO IT</button>
</form>
