@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1> <!--Home page with a pic of Professor Hilton's brother-->
    <img src="~/img/Hilton.jpg" />
    
</div>
